# Splunk per-instance overrides (not shared in git)
local/
metadata/local.meta
.DS_Store
bin/__pycache__/
var/
metadata/local.meta
default/data/ui/views/aicommand.xml
default/data/ui/views/apjc_tech_connect_ai_lab.xml
